################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab1/Lab1/obj
/Lab1/Lab1/bin
/Lab1/.vs
/Lab3/Lab3/bin
/Lab3/.vs
/Lab3/Lab3/obj
/Lab3/Lab3/Properties
