################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab1/Lab1/obj
/Lab1/Lab1/bin
/Lab1/.vs
/Lab3/Lab3/bin
/Lab3/.vs
/Lab3/Lab3/obj
/Lab3/Lab3/Properties
/Lab4/Lab4/bin
/Lab4/Lab4/Properties
/Lab4/Lab4/obj
/Lab4/Lab4/appsettings.Development.json
/Lab4/Lab4/appsettings.json
/Lab4/.vs
/Lab5/.vs
/Lab5/Lab5/bin
/Lab5/Lab5/obj
/Lab5/Lab5/Properties
*.json
/Lab6/.vs
/Lab6/Lab6/bin
/Lab6/Lab6/obj
/Lab6/Lab6/Properties/PublishProfiles
